table.children-table {
	table-layout: auto;
}


table.children-table tr {
}
table.children-table tr td,
table.children-table tr th {

	min-width: 0;
}
table.children-table input.text {
	width: 100%;
	box-sizing: border-box;
}
table.children-table select {
	max-width: 150px;
}


table.children-table select {
}
button.children-table-add-child {
	margin-top: 10px !important;
}
